DB_NAME=musicroom
DB_USER=musicroom
DB_PASSWORD=change_me
DB_ROOT_PASSWORD=change_me_too
JWT_SECRET=change_me
APP_BASE_URL=http://localhost:3000
GOOGLE_CLIENT_ID=

# Prod uniquement
# DOMAIN=music.example.com
# SMTP_HOST=
# SMTP_PORT=587
# SMTP_USER=
# SMTP_PASSWORD=
# MAIL_FROM=